appdirs==1.4.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.5.3
bleach==2.1.4
cachetools==3.0.0
certifi==2019.9.11
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
enum34==1.1.6
Flask==1.0
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
get==2019.4.13
google-api-python-client==1.7.4
google-auth==1.6.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
html5lib==1.0.1
httplib2==0.10.3
idna==2.7
imbalanced-learn==0.4.2
imblearn==0.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
mock==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numpy==1.12.1
oauthlib==2.1.0
packaging==16.8
pandas==0.23.4
pandocfilters==1.4.2
pathlib2==2.3.2
pbr==5.4.3
pickleshare==0.7.5
post==2019.4.13
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.6
public==2019.4.13
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyBluez==0.22
pygame==1.9.3
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2016.10
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.1
query-string==2019.4.13
queuelib==1.4.2
request==2019.4.13
requests==2.20.0
requests-oauthlib==1.0.0
rsa==4.0
scandir==1.9.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
spotipy==2.4.4
terminado==0.8.1
testpath==0.4.1
tornado==5.1.1
traitlets==4.3.2
twilio==5.7.0
uritemplate==3.0.0
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.4.2
win-unicode-console==0.5
